/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container{
    width: 80%;
    height: 100%;
    border: 1px solid #000;
    display: flex;
}
.box1, .box2{
    width: 50%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.box1-content{
    margin-top: 50px;
    width: 80%;
    height: 100%;
    text-align: left;
    border: 1px solid #000;

} */
