.logo span {
    font-size: 26px;
    font-weight: bold;
}

.block2-pic hov-img0 {
    width: 319px;
    height: 390px;
}

.flex-c-m {
    cursor: pointer;
}

.flex-c-m span {
    text-transform: none;
}
<<<<<<< HEAD
.pay input{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.pay input > * {
    margin: 15px;
}
.email-phone{
    display: flex;
    width: 100%;
}
.email-phone .email{
    width: 63%;
}
.email-phone .phone{
    width: 33%;
    margin-left: 10%;
=======

.block1 img {
    height: 250px;
>>>>>>> 47c79db86c2c90c37ca175cba998ae407ac91fef
}